<h2 class="title">Listing Site Settings</h2>
<div class="container-fluid">

  <% if flash %>
      <% flash.each do |k, v| %>
          <%= alert(k, v) %>
      <% end %>
  <% end %>

  <%= bootstrap_form_tag(layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-3") do |f| %>
    <%= f.text_field :a, label: "Diurna baza",  value: SiteSettings.diurna_baza %>
  <% end %>

</div>