<div class="container">
  <h1>Editing truck</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @truck, class: 'btn btn-primary' %> |
  <%= link_to 'Back', trucks_path, class: 'btn btn-primary' %>
</div>