<h1>Listing debit_invoices</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @debit_invoices.each do |debit_invoice| %>
      <tr>
        <td><%= link_to 'Show', debit_invoice %></td>
        <td><%= link_to 'Edit', edit_debit_invoice_path(debit_invoice) %></td>
        <td><%= link_to 'Destroy', debit_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debit invoice', new_debit_invoice_path %>
