<h1>Listing credit_invoices</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_invoices.each do |credit_invoice| %>
      <tr>
        <td><%= link_to 'Show', credit_invoice %></td>
        <td><%= link_to 'Edit', edit_credit_invoice_path(credit_invoice) %></td>
        <td><%= link_to 'Destroy', credit_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit invoice', new_credit_invoice_path %>
