@import "bootstrap";
@import "bootstrap-datepicker3";
@import "**/*";
@import "bootstrap/glyphicons";

/*
 * This is a manifest file that will be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require rails_bootstrap_forms
 */

td.t_value {
  text-align: right;
}

th.t_middle {
  text-align: center;
}

th.t_right {
  text-align: right;
}

td.t_middle {
  text-align: center;
}

td.t_center {
  text-align: center;
}

th.t_center {
  text-align: center;
}

div.container {
  margin-left: 3em;
  margin-right: 3em;
  width: 90%;
}

a.btn {
  color: white;
}

.button-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15%;
}

.bonus-container {
  display: inline-block;
  vertical-align: middle;
}

label.required:after {
  content: " *";
}

.title {
  text-align: center;
  margin-bottom: 1.5em;
}

.search_input {
  padding-right: 0;
}

.best_in_place {
  cursor: pointer;
}