// Place all the styles related to the CreditInvoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_group {
  margin-top: 1.3em;
}

.credit_note_ids_style {
  height: 10em;
  overflow-y: scroll;
  padding-left: 1em;
}

a#toggle {
  color: #666;
}