// Place all the styles related to the CreditInvoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_group {
  margin-top: 40px;
}

.credit_invoice_credit_notes > .controls {
  height: 200px;
  overflow-y: scroll;
  padding-left: 20px;
  line-height: 5px;
}

a#toggle {
  color: #666;
}