// Place all the styles related to the CreditInvoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_group {
  margin-top: 40px;
}

.credit_invoice_credit_notes > div.controls {
  height: 100px;
  overflow-y: scroll;
}

a#toggle {
  color: #666;
}